.app {
  font-family: $Inter;
  color: $color_font_primary;
  min-width: $container_min-width;
  max-width: $container_max-width;
  margin: 0 auto;
  padding: 0;
  background-color: $color_white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}