@mixin radio-after {
  &::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color_white;
    border-radius: 100%;
  }
}

.filter-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 340px;
}

.filter-form__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: $color_font_primary;
  text-align: center;
}

.filter-form__input {
  display: block;
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: $color_font_primary;
  cursor: pointer;
}

.filter-form__visible-radio {
  margin-right: 12px;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid $color_bright;
  border-radius: 100%;
  transition: $transition_linear;
}

.filter-form__radio {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:hover + .filter-form__visible-radio {
    background-color: rgba($color_bright, .3);
    @include radio-after;
  }

  &:checked + .filter-form__visible-radio {
    background-color: $color_bright;
    @include radio-after;
  }

  &:active + .filter-form__visible-radio{
    transform: scale(.8);
  }
}



